/** colors */

//common
$black: #000000;
$white: #ffffff;

// dark theme
$dark-grey: #3d3d3d;
$dark-blue: #002f6c;
$dark-green: #253d2c;

// light theme
$light-grey: #e0e0e0;
$light-blue: #bfd1e5;
$light-green: #253d2c;

$dark-container: #000000;
$light-container: #ffffff;

/** animations */
$opacity-duration: 1.5;
$translate-duration: 1.3;
