@use './_reset.scss' as *;
@use './_tokens.scss' as *;
@use './_animations.scss' as *;

:root {
  font-family: 'Pretendard Regular';
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-bg-container: light-dark(#{$white}, #{$black});
  --color-text: light-dark(#{$black}, #{$white});

  --color-black: #{$black};
  --color-white: #{$white};
  --color-grey: light-dark(#{$light-grey}, #{$dark-grey});
  --color-blue: light-dark(#{$light-blue}, #{$dark-blue});
  --color-green: light-dark(#{$light-green}, #{$dark-green});

  --animation-opacity-duration: #{$opacity-duration};
  --animation-translate-duration: #{$translate-duration};
}
