.card-slider {
  overflow: hidden;
  width: 100%;
}

.card-list {
  display: grid;
  grid-gap: 1.5rem;
  grid-auto-flow: column;
}

.card {
  width: 20rem;
  height: 27rem;
  border-radius: 1rem;
  background-color: var(--color-bg-card);
  position: relative;
  transition: all 500ms ease-in-out;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  cursor: pointer;
  .card-container {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    &.back {
      transform: rotateY(180deg);
    }
  }
  &:hover {
    transform: rotateY(180deg);
  }
}
