.projects-mobile {
  position: relative;
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    padding: 2rem;
    box-sizing: border-box;
    @include text-title-1-b;
  }
  .description {
    height: 8rem;
    margin-bottom: 2rem;
    white-space: pre-line;
    .company {
      @include text-title-2-b;
    }
    .group {
      margin-top: 1rem;
      @include text-normal-2-r;
    }
  }
  .carousel-controller {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    button {
      width: 2rem;
      height: 2rem;
    }
  }
}

.project-mobile-card {
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  background-color: var(--color-bg-card);
  border-radius: 1.5rem;
  width: 22rem;
  height: 25rem;
  .card-title {
    @include text-normal-2-r;
  }
  .card-description {
    margin-top: 1rem;
    text-align: left;
    @include text-normal-1-r;
  }
}
