.about {
  gap: 6rem;
  @include page;
}

.title {
  width: 100%;
  font-size: 4rem;
  &.move-in-1 {
    @include textMoveFadeIn;
  }
  &.move-in-2 {
    @include textMoveFadeIn;
    animation-delay: 0.8s;
  }
  &.move-out {
    animation-delay: 0s;
    @include textMoveFadeOut;
  }
}
