.books {
  position: relative;
}

.books-header-sticky {
  position: sticky;
  top: var(--header-height);
}

.books-wrapper {
  transition: all 700ms ease;
  &.sticky {
    padding-top: 20rem;
    position: sticky;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .scroll-container {
    .card-grid-list {
      display: inline-grid;
      padding: 0 5rem;
      grid-gap: 3rem;
      grid-auto-flow: column;
    }
  }
}

.book-card {
  width: 20rem;
  height: 27rem;
  position: relative;
  .footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
