.books {
  position: relative;
}

.books-wrapper {
  padding: var(--header-height) 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(1rem);
  transition: all 700ms ease;
  &.sticky {
    position: sticky;
    top: 0;
    left: 0;
    overflow-x: hidden;
  }
  .title {
    padding: 2rem;
    box-sizing: border-box;
    @include text-title-2-b;
    @include textMoveFadeIn;
  }
  .scroll-container {
    padding-top: 10rem;
  }
}

.card-front {
  @include text-normal-1-r;
}

.card-back {
  @include text-normal-1-r;
}
