.projects {
  position: relative;
  margin: 0 2rem;
  .title {
    padding: 2rem;
    padding-top: 5rem;
    box-sizing: border-box;
    @include text-title-1-b;
  }
  .sticky-wrapper {
    position: sticky;
    inset: 0;
  }
  .scroll-container {
    display: grid;
    padding: 5rem 3rem;
    row-gap: 3rem;
  }
}
.projects-description {
  padding: 0 3rem;
  .projects-company {
    @include text-title-1-b;
  }
  .projects-group {
  }
}

.projects-wrapper {
  padding-top: 5rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  position: relative;
  .left {
    height: 100%;
    position: relative;
  }
  .right {
    height: 100%;
    contain: paint;
  }
}

.project-card {
  padding: 2rem;
  height: 15rem;
  border: 1px solid var(--color-text);
}
