.projects {
  position: relative;
  .title {
    padding: 2rem;
    padding-top: 5rem;
    box-sizing: border-box;
    @include text-title-2-b;
  }
  .company {
    margin: 3rem 0;
    @include text-title-2-b;
  }
  .group {
    margin-top: 2rem;
    @include text-normal-3-r;
  }
  .sticky-wrapper {
    position: sticky;
    inset: 0;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 700ms ease;
    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .scroll-container {
    display: grid;
    padding: 15rem 3rem 50rem 3rem;
    row-gap: 3rem;
    position: relative;
    z-index: 1;
    .hidden {
      position: sticky;
      height: 10rem;
      width: 100%;
      left: 0;
      top: 50rem;
      z-index: -1;
    }
  }
  .projects-wrapper {
    padding-top: 5rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    position: relative;
    .left {
      height: 100%;
      position: relative;
    }
    .right {
      height: 100%;
      contain: paint;
    }
  }
}

.project-card-container {
  padding: 2.5rem 2rem;
  background-color: var(--color-bg-card);
  border-radius: 1.5rem;
  .card-title {
    @include text-normal-3-r;
  }
  .card-description {
    margin-top: 2rem;
    text-align: left;
    @include text-normal-1-r;
  }
}
