.projects-mobile {
  position: relative;
  height: 100vh;
  padding-top: 5rem;
  .projects-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    padding: 2rem;
    box-sizing: border-box;
    @include text-title-1-b;
  }
  .description {
    height: 8rem;
    margin-bottom: 2rem;
    white-space: pre-line;
    .company {
      @include text-normal-3-r;
    }
    .group {
      margin-top: 1rem;
      @include text-normal-2-r;
    }
  }
  .carousel-controller {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    button {
      width: 2rem;
      height: 2rem;
    }
  }
}
.project-mobile-card {
  width: 22rem;
}
