.skills {
  padding: 0 10rem;
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(1rem);
  transition: all 0.7s ease-in-out;
  .title {
    padding: 2rem;
    box-sizing: border-box;
    @include text-title-1-b;
  }
  &.move-in {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-wrapper {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 3rem;
  box-sizing: border-box;
  padding-left: 3rem;
}
.tab-wrapper {
  width: 30rem;
  margin-top: 2rem;
  .tab-panel-wrapper {
    height: 19rem;
    color: var(--color-grey-100);
    text-align: start;
    vertical-align: middle;
    @include text-normal-2-b;
  }
}
