.skills {
}
.skills-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill-title {
  padding: 2rem;
  box-sizing: border-box;
  @include text-title-2-b;
}

.slider-wrapper {
  height: 20rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .grid {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    &.fe {
      width: 20rem;
      grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
      row-gap: 1rem;
    }
    &.be {
      width: 20rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
.tab-wrapper {
  width: 30rem;
  margin-top: 2rem;
  .tab-panel-wrapper {
    height: 13rem;
    color: var(--color-grey-100);
    text-align: start;
    vertical-align: middle;
    white-space: pre-wrap;
    @include text-normal-1-r;
  }
  @include mobile {
    width: 100%;
    .tab-panel-wrapper {
      padding: 0 1rem;
      @include text-caption-3-r;
    }
  }
}
