#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: 10px;
  background-color: var(--color-bg-container);
  color: var(--color-text);
}

.one-page-scroll {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.app {
  position: relative;
}
