.books-mobile {
  position: relative;
  height: 100vh;
}
.books-wrapper {
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    padding: 2rem;
    box-sizing: border-box;
    @include text-title-2-b;
  }
  .carousel-container {
    padding-top: 10rem;
  }
  .carousel-controller {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    button {
      width: 2rem;
      height: 2rem;
    }
  }
}

.book-mobile-card {
  padding: 1.5rem 2rem;
  box-sizing: border-box;
  background-color: var(--color-bg-card);
  border-radius: 1.5rem;
  width: 22rem;
  height: 25rem;
  .book-title {
    @include text-normal-1-r;
  }
  .book-description {
    margin-top: 1rem;
    text-align: left;
    @include text-caption-2-r;
  }
}
