.books-mobile {
  position: relative;
  height: 100vh;
}
.books-mobile-wrapper {
  padding-top: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  .title {
    padding: 2rem;
    box-sizing: border-box;
    @include text-title-2-b;
  }
  .carousel-container {
    padding-top: 5rem;
  }
  .carousel-controller {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    button {
      width: 2rem;
      height: 2rem;
    }
  }
}

.book-mobile-card {
  width: 22rem;
  height: 20rem;
  position: relative;
  .footer {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
  }
}
