/** responsive */
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

/** colors */

//common
$black: #000000;
$white: #ffffff;

// dark theme
$dark-grey: #3d3d3d;
$dark-grey-100: #a3a2a2;
$dark-blue: #002f6c;
$dark-blue-100: #4a8fe8;
$dark-green: #253d2c;

// light theme
$light-grey: #e0e0e0;
$light-grey-100: #a3a2a2;
$light-blue: #bfd1e5;
$light-blue-100: #4a8fe8;
$light-green: #253d2c;

$dark-container: #000000;
$light-container: #ffffff;

/** animations */
$opacity-duration: 1.5;
$translate-duration: 1.3;
